---
layout: default
title: Projects
---
<div class="">
  <div class="row">
    {% for post in site.categories.Projects %}
      {% if forloop.first %}
        <div class="col-12 mobile_padding">
          <div class="card shadow">
            <div class="card-header">Current Project</div>
            <div class="card-body">
              <img class="card-img-top" src="{{ post.picture }}">
              <a href="{{post.url}}"><h3 class="text-center card-title">{{ post.title }}</h3></a>
              <hr />
              <p class="lead card-text">{{ post.excerpt }}</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-primary" href="{{ post.url }}"> View </a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-12 mobile_padding">
          <div class="card shadow">
            <div class="card-body">
              <img class="card-img-top" src="{{ post.picture }}">
              <a href="{{post.url}}"><h3 class="text-center card-title">{{ post.title }}</h3></a>
              <hr />
              <p class="lead card-text">{{ post.excerpt }}</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-primary" href="{{ post.url }}"> View </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
