---
layout: default
title: Projects
---
<div class="col-11 col-lg-10 mx-auto">
  <div class="row">
    {% for post in site.categories.Projects %}
      {% if forloop.first %}
        <div class="blog_post">
          <h2>Current Project</h2>
          <h4><a href="{{post.url}}">{{ post.title }}</a></h4>
          <img class="shadow" src="{{ post.picture }}">
          <h4><a href="{{post.public_url}}">{{ post.public_message }}</a></h4>
          <p>{{ post.content }}</p>
        </div>
        <hr />
      {% else %}
        <div class="blog_post">
          <h4><a href="{{post.url}}">{{ post.title }}</a></h4>
          <img class="shadow" src="{{ post.picture }}">
          <h4><a href="{{post.public_url}}">{{ post.public_message }}</a></h4>
          <p>{{ post.content }}</p>
        </div>
        <hr />
      {% endif %}
    {% endfor %}
  </div>
</div>
