<div class="page-content">
  <div class="">
    <div class="page-header">
      <h1 class="text-center">Current Project</h1>
    </div>
    {% for post in site.categories.Projects limit:1 %}
      <div class="container">
        <div class="col-md-10 mx-auto">
          <div class="card shadow " style="margin-bottom:3%;">
            <a href="{{ post.url }}">
              <h1 class="text-center card-title"> {{ post.title }} </h1>
            </a>
            <div class="card-body">
              <img class="img-fluid shadow" src="{{ post.picture }}">
              <p class="lead card-text">{{ post.excerpt }}</p>
            </div>
          </div>
      </div>
      </div>
    </div>
  {% endfor %}
</div>
