<div class="row content">
  {% for post in site.categories.Projects limit:1 %}
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">Current Project</div>
        <div class="card-body">
          <img class="card-img-top" src="{{ post.picture }}">
          <a href="{{post.url}}"><h3 class="text-center card-title">{{ post.title }}</h3></a>
          <hr />
          <p class="lead card-text">{{ post.excerpt }}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-primary" href="{{ post.url }}"> View </a>
          <a class="btn btn-outline-primary" href="/projects.html"> All Projects </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
