<div class="">
  <nav class="navbar fixed-top navbar-light bg-white">
    <a class="navbar-brand" href="#">Doug Skinner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  	<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ml-auto float-right">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photos.html">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/writings.html">Writings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
