<div class="row">
  {% for post in site.categories.Writing limit:1 %}
    <div class="col-11 col-lg-10 mx-auto">
      <div class="card shadow">
        <div class="card-header">Latest Blog Post</div>
        <div class="card-body">
          <a href="{{post.url}}">
            <h3 class="text-center card-title">{{ post.title }}</h3>
          </a>
          <hr />
          <p class="lead card-text">{{ post.excerpt }}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-primary" href="{{ post.url }}"> Continue </a>
          <a class="btn btn-outline-primary" href="/writings.html"> Archives </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
