<div class="row content mobile_padding">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header">Latest Photos</div>
      <div class="card-body">
        {% for post in site.categories.Thumbnails limit:3 %}
          <div class="col-12 mobile_padding">
            <a href="{{ post.full_url }}">
              <img class="img-fluid img-thumbnail" style="" src="{{ post.picture }}">
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="card-footer">
        <a class="btn btn-outline-primary" href="/photos.html"> View  All</a>
      </div>
    </div>
  </div>
</div>
