<div class="row content">
  <div class="page-header col-12">
    <h2 class="text-center">Latest Photos</h2>
  </div>
  {% for post in site.categories.Thumbnails limit:6 %}
    <div class="col-12 col-md-6 col-lg-4 mobile_padding">
      <a href="{{ post.full_url }}">
        <img class="img-fluid img-thumbnail gallery-hover shadow" alt="Recent Screenshot" src="{{ post.picture }}">
      </a>
    </div>
  {% endfor %}
  <div class="text-center col-12">
    <a href="/photos.html">
      <button class="btn btn-info">Browse All Photos</button>
    </a>
  </div>
</div>
