body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
}

a {
  color: #3F729B;
}

a:hover {
  color: #5aa4df;
  text-decoration: none;
}

code {
  color:#bd4147 !important;
}

.hero {
  position: fixed;
}

.highlight {
  background-color: #f8f8f8;
  border-radius: 10px;
}

.bg-light {
  background-color: #ececec !important;
}

.shadow {
  -moz-box-shadow: 1px 3px 5px 3px lightgrey;
  -webkit-box-shadow: 1px 3px 5px 3px lightgrey;
  box-shadow: 1px 3px 5px 3px lightgrey;
}

.page-header {
  margin-bottom:2em;
}

.content {
  padding-top: 3em;
}

.mobile_padding {
  padding-bottom: 1em;
}

.design-1 {
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.design-2 {
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -moz-clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
  padding-top: 8em;
  padding-bottom: 10em;
}

.design-3 {
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
