body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
}

a {
  color: #3F729B;
}

a:hover {
  color: #5aa4df;
  text-decoration: none;
}

code {
  color:#bd4147 !important;
}

.bg-light {
  background-color: #ececec !important;
}

.shadow {
  -moz-box-shadow: 1px 3px 5px 3px rgba(204, 204, 204, 0.3);
  -webkit-box-shadow: 1px 3px 5px 3px rgba(204, 204, 204, 0.3);
  box-shadow: 1px 3px 5px 3px rgba(204, 204, 204, 0.3);
}

.card-title {
  margin-bottom: 0rem;
  padding: 1.25rem 1.25rem;
  background-color: #ececec;
}

.page-header {
  margin-bottom:2em;
}

.content {
  padding-top: 3em;
}

.mobile_padding {
  padding-bottom: 1em;
}

.hero {
  background-size: cover;
  z-index: 10;
  position: relative;
}

.design-1 {
    background-color: rgba(23, 162, 184, 0.21);
    -moz-clip-path: polygon(0 0%, 100% 2%, 100% 98%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 2%, 100% 98%, 0% 100%);
    clip-path: polygon(0 0%, 100% 2%, 100% 98%, 0% 100%);
    padding-top: 8em;
    padding-bottom: 10em;
}

.design-2 {
    background-color: rgba(23, 162, 184, 0.21);
    -moz-clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
    padding-top: 8em;
    padding-bottom: 10em;
}

.design-3 {
    background-color: rgba(23, 162, 184, 0.21);
    padding-top: 8em;
    padding-bottom: 10em;
}
